<header class="page-header"> 
	<div class="top" > 
		<h1>
			<%= image_tag("sweety.png", size: "30") %>
			<%= image_tag("sweety.png", size: "30") %>
			<%= image_tag("sweety.png", size: "30") %>
			Sweety
		</h1> 

	</div> 
</header> 